#main_contents {
   flex-flow: column;
}
#header {
   height: 150px;
   margin: 0 auto;
}
#center {
   margin: 0 auto;
   margin-top: 30px;
}
#canvas {
   overflow: hidden;
}
.userinfo {
   text-align:  center;
   position: relative;
   width: 100%;
   margin: 10px 0;
}
.loadspinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid;
   border-color: #dbdcef;
   border-right-color: #474bff;
   animation: spinner-d3wgkg 1s infinite linear;
}
.iconimage {
   margin-top: 30px;
   width: 130px;
   height: 130px;
   background-color: aqua;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
}
.iconimage img{
   position: absolute;  /* 相対位置に指定 */
   top: 0;
   left: 0;
   width: auto;
   height: 100%;
   object-fit: cover; 
}
.punksList {
   margin-top: 5px;
   margin-left: 5px;
}
.punksList a {
   border: none;
}
button.btn-gradient {
   height: 30px;
   width: 120px;
   padding: 0%;
   font-size: 1.0rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #dbf8fc 100%);
   background-image: linear-gradient(-20deg, #e4defa 0%, #beedfa 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
input[type = "text"],input[type = "password"] {
   font: 15px/1.6 sans-serif;
   width: 300px;
   padding: 0.3em;
   color: #aaaaaa;
   border: 1px solid #ffffff;
   box-shadow: 1px 1px 2px 0 #707070 inset;
   border-radius: 4px;
   transition: 0.3s;
}

input[type = "text"]:focus,input[type = "password"]:focus{
   outline: none;
   box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
@keyframes spinner-d3wgkg {
   to {
      transform: rotate(1turn);
   }
}